html {
    height: 100%;
}

body {
    background-color:   white;
    height:             100%;
    background-image:	url('/themes/default/images/header.png');
    background-repeat:	repeat-x;
}

#doc {
    
}

#hd {
    height:             100px;
    background-image:	url('/themes/default/images/logo.png');
    background-repeat:	no-repeat;
}

#hd h1 {
    color:          white;
    font-weight:    bold;
    font-size:      24pt;
    vertical-align: bottom;
    line-height:    100px;
    margin-left:    10px;
}

#nav {
	height:	50px;
}

#bd {
    background-color:   white;
}

#ft {
    background-color:   white;
    line-height:        25px;
    border-top:         1px solid black;
}
