html {
    height: 100%;
}

body {
    background-color:   white;
    height:             100%;
    background-image:	url('/themes/default/images/header.png');
    background-repeat:	repeat-x;
}

#doc {
    
}

#hd {
    height:             	150px;
    background-image:		url('/themes/default/images/logo.jpg');
    background-repeat:		no-repeat;
}

#hd h1 {
    color:          white;
    font-weight:    bold;
    font-size:      24pt;
    vertical-align: bottom;
    line-height:    100px;
    margin-left:    10px;
}

#nav {
	height:	50px;
}

#bd {
    background-color:   white;
}

#ft {
    background-color:   white;
    line-height:        25px;
    border-top:         1px solid black;
}

#nav ul li{
	float:			left;
	height:			50px;
	line-height:	50px;
	margin-right:	20px;
	margin-left:	20px;
}

#nav a {
	color:				white;
	font-weight:		bold;
	text-decoration:	none;
	float:				left;
}

#nav a:hover {
	background-image:		url('/themes/default/images/nav_hover.gif');
	background-repeat:		no-repeat;
	background-position:	center bottom;
	text-decoration:		underline;
}