body {
	background-image:	url('/themes/default/images/admin/body.png');
	background-repeat:	repeat-x;
}

body, #doc3 {
	margin:	0px;
}

#bd {
	padding:	5px;
}

th {
	background-color:	#356aa0;
	color:				white;
	border:				1px solid white;
}

td {
	border:	0px;
}

ul {
	margin-top:		5px;
	margin-bottom:	5px;
}

tbody td {
	border:	1px solid #d4d4d4;
}

tr.evenRow {
	background-color:	#d1deec;
}

#hd-nav, #ft {
	background-image:	url('/themes/default/images/admin/header-nav.png');
	height:				25px;
}

#hd-nav p.callsign {
	padding-left:	5px;
	float:			left;
	line-height:	25px;
}

#hd-nav ul {
	margin:	0px;
}

#hd-nav ul li {
	float:					right;
	display:				inline;
	line-height:			25px;
	padding-left:			7px;
	padding-right:			5px;
	background-image:		url('/themes/default/images/admin/header-nav-sep.png');
	background-repeat:		no-repeat;
	background-position:	center left;
}

#hd-nav ul li a, #hd-nav p.callsign a {
	font-weight:		bold;
	color:				#555555;
	text-decoration:	none;
}

#hd-nav ul li a:hover, #hd-nav p.callsign a {
	text-decoration:	underline;
}

#content h1 {
	color:			white;
}

#ft {
	text-align:		right;
}

#ft a{
	font-size:	8pt;
	color:		#A4A4A4;
	line-height:	25px;
	padding-right:	5px;
	text-decoration:	none;
}

#ft a:hover {
	text-decoration:	none;
}

.admin-infoblock {
    border:     2px solid #D9EAFB;
    display:    inline;
    float:      left;
    margin:     5px;
}

.admin-infoblock .header {
    background-color:   #D9EAFB;
    border:             1px solid white;
    padding:            5px;
    clear:              both;
}

.admin-infoblock .header .title {
    font-size:          12pt;
    text-align:         left;
    font-weight:        bold;
}

.admin-infoblock .header .extra {
    font-size:      10pt;
    text-align:     right;
    padding-left:   20px;
}

.fakeLink {
	color:				blue;
	text-decoration:	underline;
	cursor:				pointer;
}

#pageNav ul {
	margin-top:	0px;
	margin-bottom:	0px;
}

#pageNav ul li {
	list-style-image:	url('admin-images/page_green.png');
	line-height:		30px;
}

#pageNav ul li a {
	color:				blue;
	text-decoration:	none;
	font-weight:		bold;
}

#pageNav ul li a:hover {
	text-decoration:	underline;
}

#pageNav ul li a.inactivePage {
	color:			red;
	font-weight:	normal;
}

#pageNav ul li a.hiddenPage {
	font-weight:	normal;
}

#pageNav ul li.addPage {
	list-style-image:	url('admin-images/page_add.png');
}

#editContent h1 {
	color:	black;
}

ul.ui-tabs-nav li {
	list-style:	none;
}
