html {
	min-height:	100%;
	height:		100%;
}

body {
	margin:		0px;
	background:	#135377;
	min-height:	100%;
}

#doc3 {
	margin:	0px;
	min-height:	100%;
}

#hd {
    height:            	100px;
    background-image:	url('/themes/default/images/hd-background.png');
}

#hd img {
	float:	left;
}

#nav {
	float:			right;
	line-height:	34px;
}

#nav ul {
	margin:			0px;
	list-style:		none;
}

#nav li {
	float:			right;
	background:		url('/themes/default/images/nav-door.gif') no-repeat left top;
	list-style:		none;
	margin-left:	-8px;
}

#nav a {
	display:			block;
	color:				white;
	font-weight:		bold;
	background:			url('/themes/default/images/nav-right.gif') no-repeat right top;
	padding-left:		15px;
	padding-right:		15px;
	text-decoration:	none;
}

#nav a:hover {
	text-decoration:	underline;
}

#bd {
	padding:		5px;
	padding-top:	0px;
	background-color:	white;
}

#ft {
	text-align:		right;
	font-size:		8pt;
	padding:		5px;
}

#ft a {
	color:				white;
	text-decoration:	none;
	font-weight:		bold;
}

h1 {
	margin-top:	0px;
	padding-top:	5px;
}
